---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my published papers on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<h1>Submitted articles and publications in preparation</h1>

<ol start="1">
  <li>Shereef, A., N. Murukesh, M.P. Subeesh, T. Mathew, and <strong>W.-J. von Appen</strong>, 2024: Barotropic and baroclinic tides on the shelf off Svalbard and their role in fjord-shelf exchange, <em>Continental Shelf Research</em>, <strong>submitted</strong></li>

  <li><strong>*</strong> Oetjens, A., <strong>W.-J. von Appen</strong>, J. Anselin, B. Ebner, F. Koch, K.-U. Ludwichowski, R. Mole, and S. Kasten, 2023: Physical transport processes in the fjords of South Georgia, <em>Ocean Sciences</em>, <strong>in preparation</strong></li>

  <li>von Friesen, L., H. Farnelid, <strong>W.-J. von Appen</strong>, M. Benavides, O. Grosso, C. Laber, J. Schüttler, M. Sundbom, S. Torres-Valdes, S. Bertilsson, I. Peeken, P. Snoeijs-Leijonmalm, and L. Riemann, 2025: Nitrogen fixation under declining Arctic sea ice, <em>Communications Earth and Environment</em>, <strong>revised</strong></li>

  <li><strong>von Appen, W.-J.</strong>, P. Assmy, H. Becker, A. Bracher, I. Fer, C. Haas, Z. Hofmann, M. Hoppmann, M. Iversen, T. Kanzow, T. Krumpen, L. Mathieu, R. McPherson, K. Metfies, B. Niehoff, E.-M. Nöthig, E. Oldenburg, O. Popa, L. Rehder, S. Reifenberg, S. Rokitta, S. Torres-Valdes, A. Waite, C. Wekerle, and L. Winberg von Friesen, 2024: Evolution of thin deep chlorophyll maxima in the marginal ice zone, <strong>in preparation</strong></li>

  <li>McPherson, R., <strong>W.-J. von Appen</strong>, L. de Steur, T. Kanzow, A. Beszczynska-Möller, and A. Renner, 2024: Decades of Change: Warming Trends and Variability of Atlantic Water as observed in the West Spitsbergen Current (1997–2024), <em>Deep Sea Research II</em>, <strong>revised</strong> <a href="pre-print">files/McPherson_DSR2_WSC_temperature_revised.pdf</a>/li>

  <li>McPherson, R., N. Lochthofen, R. Reifenberg, <strong>W.-J. von Appen</strong>, and H. Xi, 2025: Year-round vertically resolved observations of upper ocean hydrography and biogeochemistry in the Atlantic Water inflow north of Svalbard, <em>Deep Sea Research II</em>, <strong>revised</strong></li>
</ol>

<h1>Published articles</h1>h1>

<ol>
  <li><strong>*</strong> Mole, R., <strong>W.-J. von Appen</strong>, H. Becker, A. Haumann, T. Kanzow, A. Pinango, J. Stimpfle, S. Trimborn, and E. Young, 2025: Wind Driven Iron Supply by Ekman Buoyancy Flux Enhances Phytoplankton Bloom in the Antarctic Circumpolar Current, <em>Journal of Geophysical Research</em>, <strong>accepted</strong></li>

  <li>Ramondenc, S., R. Lampitt, M.F. Norrbin, A. Belcher, <strong>W.-J. von Appen</strong>, and M.H. Iversen, 2025: Presence of two eddies in close proximity drives large spatial and temporal heterogeneity in the euphotic zone, <em>Progress in Oceanography</em>; <a href="https://doi.org/10.1016/j.pocean.2025.103476">https://doi.org/10.1016/j.pocean.2025.103476</a></li>

  <li>Murray, A., <strong>W.-J. von Appen</strong>, M. Jucker, R. McPherson, M. Neudert, S. Ramondenc, S. Reifenberg, and C. Havermans, 2024: Eukaryotic biodiversity of sub-ice water in the Marginal Ice Zone of the European Arctic: A multi-marker eDNA metabarcoding survey, <em>Science of the Total Environment</em>; <a href="https://doi.org/10.1016/j.scitotenv.2025.178840">https://doi.org/10.1016/j.scitotenv.2025.178840</a></li>

  <li><strong>*</strong> Reifenberg, S., I. Fer, T. Kanzow, <strong>W.-J. von Appen</strong>, M. Hoppmann, T. Krumpen, M. Neudert, A. Preußer, and C. Haas, 2024: Shallow observations of under-ice turbulence on Yermak Plateau (Arctic Ocean) in summer: shear stress and meltwater effects, <em>Journal of Physical Oceanography</em>, <strong>accepted</strong></li>

  <li>Wietz, M., T. Priest, E. Oldenburg, O. Popa, B. Dede, K. Metfies, <strong>W.-J. von Appen</strong>, S. Torres-Valdes, C. Bienhold, B. Fuchs, R. Amann, and A. Boetius, 2025: Seasonal recurrence and modular assembly of an Arctic pelagic marine microbiome, <em>Nature Communications</em>; <a href="https://doi.org/10.1038/s41467-025-56203-3">https://doi.org/10.1038/s41467-025-56203-3</a></li>

  <li>Pakhomov, E., R. Mole, A. Bahl, <strong>W.-J. von Appen</strong>, and F. Lüskow, 2025: Early spring population dynamics of Salpa thompsoni linked to physical oceanography in the Atlantic sector of the Southern Ocean, <em>Polar Biology</em>; <a href="https://doi.org/10.1007/s00300-024-03342-w">https://doi.org/10.1007/s00300-024-03342-w</a></li>

  <li>Oldenburg, E., R. Kronberg, K. Metfies, M. Wietz, <strong>W.-J. von Appen</strong>, C. Bienhold, O. Popa, and O. Ebenhöh, 2024: Beyond blooms: A novel time series analysis framework predicts seasonal keystone species and sheds light on Arctic pelagic ecosystem stability, <em>Communications Earth & Environment</em>; <a href="https://doi.org/10.1038/s43247-024-01782-0">https://doi.org/10.1038/s43247-024-01782-0</a></li>

  <li>Murray, A., T. Priest, A. Antich, <strong>W.-J. von Appen</strong>, S. Neuhaus, and C. Havermans, 2024: Investigating pelagic diversity and gelatinous zooplankton communities in the rapidly changing European Arctic: an eDNA metabarcoding survey, <em>Environmental DNA</em>; <a href="https://doi.org/10.1002/edn3.569">https://doi.org/10.1002/edn3.569</a></li>

  <li><strong>*</strong> Hofmann, Z., <strong>W.-J. von Appen</strong>, T. Kanzow, L. Hufnagel, and M. Iversen, 2024: Stepwise Subduction Observed at a Front in the Marginal Ice Zone in Fram Strait, <em>Journal of Geophysical Research</em>; <a href="https://doi.org/10.1029/2023JC020641">https://doi.org/10.1029/2023JC020641</a></li>

  <li>Weiss, J., <strong>W.-J. von Appen</strong>, B. Niefhoff, N. Hildebrand, M. Graeve, S. Neuhaus, A. Bracher, E.-M. Nöthig, and K. Metfies, 2024: Unprecedented insights into extents of biological responses to physical forcing in an Arctic sub-mesoscale filament by combining high-resolution measurement approaches, <em>Scientific Reports</em>; <a href="https://doi.org/10.1038/s41598-024-58511-y">https://doi.org/10.1038/s41598-024-58511-y</a></li>

  <li>Oldenburg, E., O. Popa, V. Lampe, <strong>W.-J. von Appen</strong>, M. Wietz, C. Bienhold, E.-M. Nöthig, O. Ebenhöh, and K. Metfies, 2024: Sea-ice melt determines seasonal phytoplankton dynamics and delimits the habitat of temperate Atlantic taxa as the Arctic Ocean atlantifies, <em>ISME Communications</em>; <a href="https://doi.org/10.1093/ismeco/ycae027">https://doi.org/10.1093/ismeco/ycae027</a></li>

  <li>Wekerle, C., R. McPherson, <strong>W.-J. von Appen</strong>, Q. Wang, R. Timmermann, P. Scholz, S. Danilov, Q. Shu, and T. Kanzow, 2024: Atlantic Water warming increases melt below Northeast Greenland's last floating ice tongue, <em>Nature Communications</em>; <a href="https://doi.org/10.1038/s41467-024-45650-z">https://doi.org/10.1038/s41467-024-45650-z</a></li>

  <li>Dunn, M., S. Vojta, T. Soltwedel, <strong>W.-J. von Appen</strong>, and R. Lohmann, 2024: Passive sampler derived profiles and mass flows of Perfluorinated Alkyl Substances (PFAS) across the Fram Strait in the North Atlantic, <em>Environmental Science & Technology Letters</em>; <a href="https://doi.org/10.1021/acs.estlett.3c00835">https://doi.org/10.1021/acs.estlett.3c00835</a></li>

  <li>Wietz, M., A. Engel, S. Ramondenc, M. Niwano, <strong>W.-J. von Appen</strong>, T. Priest, A. von Jackowski, K. Metfies, C. Bienhold, and A. Boetius, 2023: The Arctic summer microbiome across Fram Strait: Depth, longitude, and substrate concentrations structure microbial diversity in the euphotic zone, <em>Environmental Microbiology</em>; <a href="https://doi.org/10.1111/1462-2920.16568">https://doi.org/10.1111/1462-2920.16568</a></li>

  <li>Tsubouchi, T., <strong>W.-J. von Appen</strong>, T. Kanzow, and L. de Steur, 2023: Temporal variability of the overturning circulation in the Arctic Ocean and the associated heat and freshwater transports during 2004–2010, <em>Journal of Physical Oceanography</em>; <a href="https://doi.org/10.1175/JPO-D-23-0056.1">https://doi.org/10.1175/JPO-D-23-0056.1</a></li>

  <li>Salter, I., E. Bauerfeind, K. Fahl, M.H. Iversen, C. Lalande, S. Ramondenc, <strong>W.-J. von Appen</strong>, C. Wekerle, and E.-M. Nöthig, 2023: Interannual variability (2000–2013) of mesopelagic and bathypelagic particle fluxes in relation to variable sea-ice cover in the eastern Fram Strait, <em>Frontiers in Earth Science</em>; <a href="https://doi.org/10.3389/feart.2023.1210213">https://doi.org/10.3389/feart.2023.1210213</a></li>

  <li>Priest, T., <strong>W.-J. von Appen</strong>, E. Oldenburg, O. Popa, S. Torres-Valdes, C. Bienhold, K. Metfies, W. Boulton, T. Mock, B. M. Fuchs, R. Amann, A. Boetius, and M. Wietz, 2023: Atlantic water influx and sea-ice cover drive taxonomic and functional shifts in Arctic marine bacterial communities, <em>The ISME Journal</em>; <a href="https://doi.org/10.1038/s41396-023-01461-6">https://doi.org/10.1038/s41396-023-01461-6</a></li>

  <li>Svingen, K., A. Brakstad, K. Våge, <strong>W.-J. von Appen</strong>, and L. Papritz, 2023: The impact of cold air outbreaks and oceanic lateral fluxes on dense water formation in the Greenland Sea from a ten-year moored record (1999–2009), <em>Journal of Physical Oceanography</em>; <a href="https://doi.org/10.1175/JPO-D-22-0160.1">https://doi.org/10.1175/JPO-D-22-0160.1</a></li>

  <li>¶ <strong>von Appen, W.-J.</strong>, T.M. Baumann, Y.-D. Lenn, M. Janout, N. Koldunov, R.S. Pickart, R.B. Scott, and Q. Wang, 2022: Eddies and the Distribution of Eddy Kinetic Energy in the Arctic Ocean, <em>Oceanography, Special issue “The Changing Arctic Ocean”</em>; <a href="https://doi.org/10.5670/oceanog.2022.122">https://doi.org/10.5670/oceanog.2022.122</a></li>

  <li>Meyer-Kaiser, K., K. Schrage, <strong>W.-J. von Appen</strong>, M. Hoppmann, N. Lochthofen, A. Sundfjord, and T. Soltwedel, 2022: Larval dispersal and recruitment of benthic invertebrates on oceanographic moorings in the Arctic Ocean, <em>Progress in Oceanography</em>; <a href="https://doi.org/10.1016/j.pocean.2022.102776">https://doi.org/10.1016/j.pocean.2022.102776</a></li>

  <li>Berx, B., and 44 co-authors (incl. <strong>W.-J. von Appen</strong>), 2021: Climate relevant ocean transport measurements in the Atlantic and Arctic Ocean, <em>Oceanography, Supplement “Ocean Observing”</em>; <a href="https://doi.org/10.5670/oceanog.2021.supplement.02-04">https://doi.org/10.5670/oceanog.2021.supplement.02-04</a></li>

  <li><strong>von Appen, W.-J.</strong>, A.M. Waite, M. Bergmann, C. Bienhold, O. Boebel, A. Bracher, B. Cisewski, J. Hagemann, M. Hoppema, M. Iversen, C. Konrad, T. Krumpen, N. Lochthofen, K. Metfies, B. Niehoff, E.-M. Nöthig, A. Purser, I. Salter, M. Schaber, D. Scholz, T. Soltwedel, S. Torres-Valdes, C. Wekerle, F. Wenzhöfer, M. Wietz, and A. Boetius, 2021: Sea-ice derived meltwater stratification slows the biological carbon pump: results from continuous observations, <em>Nature Communications</em>; <a href="https://doi.org/10.1038/s41467-021-26943-z">https://doi.org/10.1038/s41467-021-26943-z</a></li>

  <li>Wietz, M., C. Bienhold, K. Metfies, S. Torres-Valdes, <strong>W.-J. von Appen</strong>, I. Salter, and A. Boetius, 2021: The polar night shift: Seasonal dynamics and drivers of Arctic Ocean microbiomes revealed by autonomous sampling, <em>ISME Communications</em>; <a href="https://doi.org/10.1038/s43705-021-00074-4">https://doi.org/10.1038/s43705-021-00074-4</a></li>

  <li>Tuerena, R., J. Hopkins, P. Buchanan, R. Ganeshram, L. Norman, <strong>W.-J. von Appen</strong>, A. Tagliabue, A. Doncila, M. Graeve, K.-U. Ludwichowski, P.A. Dodd, C. de la Vega, I. Salter, and C. Mahaffey, 2021: An Arctic strait of two halves: The changing dynamics of nutrient uptake and limitation across the Fram Strait, <em>Global Biogeochemical Cycles</em>; <a href="https://doi.org/10.1029/2021GB006961">https://doi.org/10.1029/2021GB006961</a></li>

  <li>Kaiser, P., W. Hagen, <strong>W.-J. von Appen</strong>, B. Niehoff, N. Hildebrandt, and H. Auel, 2021: Effects of a submesoscale oceanographic filament on zooplankton dynamics in the Arctic marginal ice zone, <em>Frontiers in Marine Research</em>; <a href="https://doi.org/10.3389/fmars.2021.625395">https://doi.org/10.3389/fmars.2021.625395</a></li>

  <li><strong>*</strong> Hofmann, Z., <strong>W.-J. von Appen</strong>, and C. Wekerle, 2021: Seasonal and Mesoscale Variability of the Two Atlantic Water Recirculation Pathways in Fram Strait, <em>Journal of Geophysical Research</em>; <a href="https://doi.org/10.1029/2020JC017057">https://doi.org/10.1029/2020JC017057</a></li>

  <li>Fadeev, E., M. Wietz, <strong>W.-J. von Appen</strong>, M. H. Iversen, E.-M. Nöthig, A. Engel, J. Grosse, M. Graeve, and A. Boetius, 2021: Submesoscale physicochemical dynamics directly shape bacterioplankton community structure in space and time, <em>Limnology and Oceanography</em>; <a href="https://doi.org/10.1002/lno.11799">https://doi.org/10.1002/lno.11799</a></li>

  <li>Wekerle, C., T. Hattermann, Q. Wang, L. Crews, <strong>W.-J. von Appen</strong>, and S. Danilov, 2020: Properties and dynamics of mesoscale-eddies in the Fram Strait from a comparison between two high-resolution ocean-sea ice models, <em>Ocean Science</em>; <a href="https://doi.org/10.5194/os-16-1-2020">https://doi.org/10.5194/os-16-1-2020</a></li>

  <li>Joerss, H., Z. Xie, C. Wagner, <strong>W.-J. von Appen</strong>, E. Sunderland, and R. Ebinghaus, 2020: Transport of legacy perfluoroalkyl substances and the replacement compound HFPO-DA through the Atlantic Gateway to the Arctic Ocean -- Is the Arctic a sink or a source?, <em>Environmental Science and Technology</em>; <a href="https://doi.org/10.1021/acs.est.0c00228">https://doi.org/10.1021/acs.est.0c00228</a></li>

  <li>Bracher, A., H. Xi, <strong>W.-J. von Appen</strong>, T. Dinter, A. Mangin, V.H. Strass, and S. Wiegmann, 2020: High resolution water column phytoplankton composition across the Atlantic Ocean from ship-towed vertical undulating radiometry, <em>Frontiers in Marine Science</em>, 7, 1–22; <a href="https://doi.org/10.3389/fmars.2020.00235">https://doi.org/10.3389/fmars.2020.00235</a></li>

  <li><strong>von Appen, W.-J.</strong>, V.H. Strass, A. Bracher, H. Xi, C. Horstmann, M. Iversen, and A. Waite, 2020: High-resolution physical-biogeochemical structure of a filament and an eddy of upwelled water off Northwest Africa, <em>Ocean Science</em>, 16, 253–270; <a href="https://doi.org/10.5194/os-16-253-2020">https://doi.org/10.5194/os-16-253-2020</a></li>

  <li>Schaffer, J., T. Kanzow, <strong>W.-J. von Appen</strong>, L. von Albedyll, J.E. Arndt, and D.H. Roberts, 2020: Bathymetry constrains ocean heat supply to Greenland's largest glacier tongue, <em>Nature Geoscience</em>; <a href="https://doi.org/10.1038/s41561-019-0529-x">https://doi.org/10.1038/s41561-019-0529-x</a></li>

  <li>Wang, Q., C. Wekerle, X. Wang, S. Danilov, N. Koldunov, D. Sein, D. Sidorenko, <strong>W.-J. von Appen</strong>, and T. Jung, 2020: Intensification of the upward trend in the ocean heat transport to the Arctic Ocean through Fram Strait induced by sea ice decline, <em>Geophysical Research Letters</em>; <a href="https://doi.org/10.1029/2019GL086682">https://doi.org/10.1029/2019GL086682</a></li>

  <li>¶ Spall, M., R.S. Pickart, P. Lin, <strong>W.-J. von Appen</strong>, D. Mastropole, H. Valdimarsson, T. Haine, and M. Almansi, 2019: Frontogenesis and variability in Denmark Strait and its influence on overflow water, <em>Journal of Physical Oceanography</em>, 49 (7) 1889–1904; <a href="https://doi.org/10.1175/JPO-D-19-0053.1">https://doi.org/10.1175/JPO-D-19-0053.1</a></li>

  <li>Hessner, K., S. El Naggar, <strong>W.-J. von Appen</strong>, and V. Strass, 2019: On the reliability of surface current measurements by X-band Marine Radar, <em>Remote Sensing</em>, 11, 1030; <a href="https://doi.org/10.3390/rs11091030">https://doi.org/10.3390/rs11091030</a></li>

  <li>¶ Perez-Hernandez, M.D., R.S. Pickart, D.J. Torres, F. Bahr, A. Sundfjord, R. Ingvaldsen, A. Renner, A. Beszczynska-Möller, <strong>W.-J. von Appen</strong>, and V. Pavlov, 2019: Structure, Transport, and Seasonality of the Atlantic Water Boundary Current North of Svalbard: Results From a Yearlong Mooring Array, <em>Journal of Geophysical Research</em>, 1679–1698; <a href="https://doi.org/10.1029/2018JC014759">https://doi.org/10.1029/2018JC014759</a></li>

  <li>Wekerle, C., T. Krumpen, T. Dinter, <strong>W.-J. von Appen</strong>, M. Iversen and I. Salter, 2018: Origin and properties of particles found in sediment traps in Fram Strait, <em>Frontiers in Marine Science</em>, 5, 1–16; <a href="https://doi.org/10.3389/fmars.2018.00407">https://doi.org/10.3389/fmars.2018.00407</a></li>

  <li><strong>*</strong> Richter, M., <strong>W.-J. von Appen</strong>, and C. Wekerle, 2018: Does the East Greenland Current exist in northern Fram Strait?, <em>Ocean Science</em>, 14, 1147–1165; <a href="https://doi.org/10.5194/os-14-1147-2018">https://doi.org/10.5194/os-14-1147-2018</a></li>

  <li><strong>von Appen, W.-J.</strong>, C. Wekerle, L. Hehemann, V. Schourup-Kristensen, C. Konrad, and M. Iversen, 2018: Observations of a submesoscale cyclonic filament in the marginal ice zone, <em>Geophysical Research Letters</em>, 45, 1–9; <a href="https://doi.org/10.1029/2018GL077897">https://doi.org/10.1029/2018GL077897</a></li>

  <li>Basedow, S., A. Sundfjord, <strong>W.-J. von Appen</strong>, E. Halvorsen, S. Kwasniewski, and M. Reigstad, 2018: Seasonal Variation in Transport of Zooplankton into the Arctic Basin Through the Atlantic Gateway, Fram Strait, <em>Frontiers in Marine Science</em>, 5, 1–22; <a href="https://doi.org/10.3389/fmars.2018.00194">https://doi.org/10.3389/fmars.2018.00194</a></li>

  <li>Wekerle, C., Q. Wang, <strong>W.-J. von Appen</strong>, S. Danilov, V. Schourup-Kristensen, and T. Jung, 2017: Eddy-resolving simulation of the Atlantic Water circulation in Fram Strait with focus on the seasonal cycle, <em>Journal of Geophysical Research</em>, 122, 8385–8405; <a href="https://doi.org/10.1002/2017JC012974">https://doi.org/10.1002/2017JC012974</a></li>

  <li>¶ Håvik, L., K. Våge, R. S. Pickart, B. Harden, <strong>W.-J. von Appen</strong>, S. Jonsson, and S. Østerhus, 2017: Structure and variability of the shelfbreak East Greenland Current, <em>Journal of Physical Oceanography</em>, 47 (10), 2631–2646; <a href="https://doi.org/10.1175/JPO-D-17-0062.1">https://doi.org/10.1175/JPO-D-17-0062.1</a></li>

  <li><strong>*</strong> Schaffer, J., <strong>W.-J. von Appen</strong>, P. Dodd, C. Hofstede, C. Mayer, L. de Steur, and T. Kanzow, 2017: Warm water pathways towards Nioghalvfjerdsfjorden Glacier, Northeast Greenland, <em>Journal of Geophysical Research: Oceans</em>, 122, 1–17; <a href="https://doi.org/10.1002/2016JC012462">https://doi.org/10.1002/2016JC012462</a></li>

  <li>Driemel, A., and 44 co-authors (incl. <strong>W.-J. von Appen</strong>), 2017: From pole to pole: 33 years of physical oceanography on board of R/V POLARSTERN. <em>Earth System Science Data</em>, 9, 211–220; <a href="https://doi.org/10.5194/essd-9-211-2017">https://doi.org/10.5194/essd-9-211-2017</a></li>

  <li>¶ Håvik, L., R. S. Pickart, K. Våge, D. Torres, A. M. Thurnherr, A. Beszczynska-Möller, W. Walczowski, and <strong>W.-J. von Appen</strong>, 2017: Evolution of the East Greenland Current from Fram Strait to Denmark Strait: Synoptic measurements from summer 2012, <em>Journal of Geophysical Research: Oceans</em>, 122, 1–21; <a href="https://doi.org/10.1002/2016JC012228">https://doi.org/10.1002/2016JC012228</a></li>

  <li>¶ <strong>W.-J. von Appen</strong>, D. Mastropole, R. S. Pickart, H. Valdimarsson, S. Jonsson, and J. Girton, 2017: On the Nature of the Mesoscale Variability in Denmark Strait, <em>Journal of Physical Oceanography</em>, 47 (3), 567–582; <a href="https://doi.org/10.1175/JPO-D-16-0127.1">https://doi.org/10.1175/JPO-D-16-0127.1</a></li>

  <li>Laukert, G., M. Frank, D. Bauch, E. Hathorne, B. Rabe, <strong>W.-J. von Appen</strong>, C. Wegner, M. Zieringer, and H. Kassens, 2017: Ocean circulation and freshwater pathways in the Arctic Mediterranean based on a combined Nd isotope, REE and oxygen isotope section across Fram Strait, <em>Geochimica et Cosmochimica Acta</em>, 202, 285–309; <a href="https://doi.org/10.1016/j.gca.2016.12.028">https://doi.org/10.1016/j.gca.2016.12.028</a></li>

  <li>Wekerle, C., Q. Wang, S. Danilov, V. Schourup-Kristensen, <strong>W.-J. von Appen</strong>, and T. Jung, 2016: Atlantic Water in the Nordic Seas: locally eddy-permitting ocean simulation in a global setup, <em>Journal of Geophysical Research: Oceans</em>, 122, 1–27; <a href="https://doi.org/10.1002/2016JC012121">https://doi.org/10.1002/2016JC012121</a></li>

  <li>Janout, M., J. Hölemann, A. Waite, T. Krumpen, <strong>W.-J. von Appen</strong>, and F. Martynov, 2016: Sea-ice retreat controls timing of summer plankton blooms in the Eastern Arctic Ocean, <em>Geophysical Research Letters</em>, 43, 1–9; <a href="https://doi.org/10.1002/2016GL071232">https://doi.org/10.1002/2016GL071232</a></li>

  <li><strong>*</strong> Wulff, T., E. Bauerfeind, and <strong>W.-J. von Appen</strong>, 2016: Physical and ecological processes at a moving ice edge in the Fram Strait as observed with an AUV. <em>Deep-Sea Research I</em>, 115, 253–264; <a href="https://doi.org/10.1016/j.dsr.2016.07.001">https://doi.org/10.1016/j.dsr.2016.07.001</a></li>

  <li>Hattermann, T., P. E. Isachsen, <strong>W.-J. von Appen</strong>, J. Albretsen, and A. Sundfjord, 2016: Eddy-driven recirculation of Atlantic Water in Fram Strait, <em>Geophysical Research Letters</em>, 43, 1–9; <a href="https://doi.org/10.1002/2016GL068323">https://doi.org/10.1002/2016GL068323</a></li>

  <li><strong>von Appen, W.-J.</strong>, U. Schauer, T. Hattermann, and A. Beszczynska-Möller, 2016: Seasonal cycle of mesoscale instability of the West Spitsbergen Current. <em>Journal of Physical Oceanography</em>, 46 (4), 1231–1254; <a href="https://doi.org/10.1175/JPO-D-15-0184.1">https://doi.org/10.1175/JPO-D-15-0184.1</a></li>

  <li>Stöven, T., T. Tanhua, M. Hoppema, and <strong>W.-J. von Appen</strong>, 2016: Transient tracer distributions in the Fram Strait in 2012 and inferred anthropogenic carbon content and transport, <em>Ocean Science</em>, 12, 319–333; <a href="https://doi.org/10.5194/os-12-319-2016">https://doi.org/10.5194/os-12-319-2016</a></li>

  <li>Metfies, K., <strong>W.-J. von Appen</strong>, E. Kilias, A. Nicolaus, and E.-M. Nöthig, 2016: Biogeography and Photosynthetic Biomass of Arctic Marine Pico-Eukaroytes during Summer of the Record Sea Ice Minimum 2012, <em>PLOS ONE</em>, 11 (2), 1–20; <a href="https://doi.org/10.1371/journal.pone.0148512">https://doi.org/10.1371/journal.pone.0148512</a></li>

  <li><strong>von Appen, W.-J.</strong>, U. Schauer, R. Somavilla Cabrillo, E. Bauerfeind, and A. Beszczynska-Möller, 2015: Exchange of warming deep waters across Fram Strait, <em>Deep-Sea Research I</em>, 103, 86–100; <a href="https://doi.org/10.1016/j.dsr.2015.06.003">https://doi.org/10.1016/j.dsr.2015.06.003</a></li>

  <li><strong>von Appen, W.-J.</strong>, 2015: Correction of ADCP compass errors resulting from iron in the instrument's vicinity, <em>Journal of Atmospheric and Oceanic Technology</em>, 32, 591–602; <a href="https://doi.org/10.1175/JTECH-D-14-00043.1">https://doi.org/10.1175/JTECH-D-14-00043.1</a></li>

  <li>¶ <strong>von Appen, W.-J.</strong>, I. M. Koszalka, R. S. Pickart, T. W. N. Haine, D. Mastropole, M. G. Magaldi, H. Valdimarsson, J. Girton, J., K. Jochumsen, and G. Krahmann, 2014b: The East Greenland Spill Jet as an important component of the Atlantic Meridional Overturning Circulation, <em>Deep-Sea Research I</em>, 92, 75–84; <a href="https://doi.org/10.1016/j.dsr.2014.06.002">https://doi.org/10.1016/j.dsr.2014.06.002</a></li>

  <li>¶ <strong>von Appen, W.-J.</strong>, R. S. Pickart, K. H. Brink, and T. W. N. Haine, 2014a: Water column structure and statistics of Denmark Strait Overflow Water cyclones, <em>Deep-Sea Research I</em>, 84, 110–126; <a href="https://doi.org/10.1016/j.dsr.2013.10.007">https://doi.org/10.1016/j.dsr.2013.10.007</a></li>

  <li>¶ <strong>von Appen, W.-J.</strong> and R. S. Pickart, 2012: Two Configurations of the Western Arctic Shelfbreak Current in Summer, <em>Journal of Physical Oceanography</em>, 42 (3), 329–351; <a href="https://doi.org/10.1175/JPO-D-11-026.1">https://doi.org/10.1175/JPO-D-11-026.1</a></li>

  <li>Bower, A. S. and <strong>W.-J. von Appen</strong>, 2008: Interannual Variability in the Pathways of the North Atlantic Current over the Mid-Atlantic Ridge and the Impact of Topography, <em>Journal of Physical Oceanography</em>, 38 (1), 104–120; <a href="https://doi.org/10.1175/2007JPO3686.1">https://doi.org/10.1175/2007JPO3686.1</a></li>
</ol>

<h1>Citable non-peer reviewed publications</h1>h1>

<ol start="1">
  <li><strong>von Appen, W.-J.</strong> (editor), 2021: Submesoscale Dynamics in Fram Strait, Cruise No. MSM93 (GPF 18-1_33) in 2020, <em>MARIA S. MERIAN-Berichte</em>, 1–53; <a href="https://doi.org/10.48433/cr_msm93">https://doi.org/10.48433/cr_msm93</a></li>

  <li><strong>von Appen, W.-J.</strong> (editor), 2018: The Expedition PS114 of the Research Vessel Polarstern to the Fram Strait in 2018, <em>Reports on Polar and Marine Research</em>, 1–84; <a href="https://doi.org/10.2312/BzPM_0723_2018">https://doi.org/10.2312/BzPM_0723_2018</a></li>

  <li>Author or co-author of 340 data sets in Pangaea Data Publisher for Earth and Environmental Science: <br> <a href="https://www.pangaea.de/?q=von+Appen%2C+Wilken-Jon">https://www.pangaea.de/?q=von+Appen%2C+Wilken-Jon</a></li>

  <li><strong>von Appen, W.-J.</strong>, 2012: Moored Observations of Shelfbreak Processes at the Inflow to and Outflow from the Arctic Ocean, <em>PhD Thesis</em>, MIT-WHOI Joint Program, Cambridge/Woods Hole, MA, USA; <a href="https://doi.org/10.1575/1912/5822">https://doi.org/10.1575/1912/5822</a></li>
</ol>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



